<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head'); %>
</head>
<body>
	<header>
		<%- include ('../partials/header'); %>
	</header>
	<main>
		<div class="thread-wall">
			<% threads.forEach(thread => { %>
				<div id="<%= thread.id %>" class="thread">
					<div class="header">
						<% if (thread.subject) { %>
							<span class="subject"><%= thread.subject %></span>
						<% } %>
						<% if (thread.userName) { %>
							<span class="name"><%= thread.userName %></span> 
						<% } else { %>
							<span class="name">anonymous</span>
						<% } %>
						<span class="time"><%= new Intl.DateTimeFormat('en-US', {dateStyle: 'short', timeStyle: 'short'}).format(thread.createdAt) %></span>
						<span>No. <a href="/<%= board.slug %>/<%= thread.id %>"><%= thread.id %></a></span>
					</div>
					<div class="body">
						<%= thread.text %>
					</div>
					<% if (thread.posts) { %>
						<% thread.posts.forEach(post => { %>
							<%- include('../partials/post', {post, board, thread}) %>
						<% }) %>
					<% } %>
				</div>
			<% }) %>
		</div>
	</main>
	<footer>
		<%- include ('../partials/footer'); %>
	</footer>
</body>
</html>