<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head'); %>
</head>
<body>
	<header>
		<%- include ('../partials/header'); %>
	</header>
	<main>
		<div class="thread-wall">
			<%- include('../partials/post', {board, post: thread, page, op: true}) %>
			<% for (const post of thread.posts) { %>
				<%- include('../partials/post', {board, post, page, op: false}) %>
			<% } %>
		</div>
	</main>
	<footer>
		<%- include ('../partials/footer'); %>
	</footer>
</body>
<script src="/static/js/thread.js"></script>
</html>